name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ci-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  qa:
    name: QA
    uses: ./.github/workflows/qa.yaml

  tests:
    name: Tests
    uses: ./.github/workflows/tests.yaml

  helm-tests:
    name: Helm Tests
    uses: ./.github/workflows/helm-tests.yaml
